<%- include('./partials/head'); %>
<body>

  <section class="containerSacola">
    <%- include('./partials/sacola'); %>
  </section>
    
  <header class="row">
    <%- include('./partials/header'); %>
  </header>

  <section class="carousel">
    <%- include('./partials/carousel'); %>
  </section>

  <div class="container">
    
      <%- include('./partials/cards'); %>
  
      <!-- Footer -->
        <footer class="bg-dark">
          <%- include('./partials/footer'); %>
        </footer>
      <!-- Footer -->
  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>