<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ecommerce</title>
  
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
  <link defer rel="stylesheet" href="stylesheets/sacola.css">
  <script defer src="javascripts/sacola.js"></script>
  <link defer rel="stylesheet" href="stylesheets/index.css">
</head>
<body>

  <section class="containerSacola">
    <%- include('./partials/sacola'); %>
  </section>
    
  <header class="row">
    <%- include('./partials/header'); %>
  </header>

  <section class="carousel">
    <%- include('./partials/carousel'); %>
  </section>

  <div class="container">
    
      <%- include('./partials/cards'); %>
  
      <!-- Footer -->
        <footer class="bg-dark">
          <%- include('./partials/footer'); %>
        </footer>
      <!-- Footer -->
  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>